<div class="wrapper-component">
    <mat-card class="wrapper-card">
        <div>
            <button mat-raised-button color="primary" (click)="addUserTypeHandleClick()">
                <span class="material-icons-outlined custom-icon">
                    add_circle
                </span>Create new User type</button>
        </div>
    </mat-card>
    <mat-card>
        <div class="table-rasponsive mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element;let i =index"> {{i+1}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.typeName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="userTypeRoleName">
                    <th mat-header-cell *matHeaderCellDef> UserType Role Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.userTypeRoleName}} </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef>Created Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'yyyy/MM/dd'}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="action" class="mat-column-action">
                    <th mat-header-cell *matHeaderCellDef class="mat-column-action"> action </th>
                    <td mat-cell *matCellDef="let element" class="mat-column-action">
                        <span class="material-icons-outlined custom-icon"
                            (click)="onEditUserTypeHandleClick(element.id)">
                            {{editIcon}}
                        </span>
                        <span class="material-icons-outlined custom-icon"
                            (click)="onDeleteUserTypeHandleClick(element.id)">
                            {{deleteIcon}}
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [length]='totalItems'
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-card>
</div>