.wrapper-component {
    .wrapper-card {
        padding: 20px !important;
        .header-tilte {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 20px;
        }
    }
}
